# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/

# Ignore environment variables
.env

# Ignore temporary files
tmp/
*.mp3
*.wav

# Ignore DLLs
*.dll

# Ignore VS Code settings
.vscode/

README.md